body {
	margin: 0;
	padding: 0;
}
h2 {
	padding: 0;
	margin: 0;
}
.text-center {
	text-align: center;
}
.hide {
	display: none;
}

.form-add {
	width: 30%;
	margin: 0 auto;
	margin-top: 20px;
}
.form-add table tr td {
	padding-top: 20px;
}
.form-add table tr td input {
	width: 250px;
	padding: 5px 10px;
	margin-left: 20px;
}
.justìy-center {
	display: flex;
    justify-content: center;
}
.content {
	width: 80%;
	margin: 40px auto;
}
thead, tbody tr { display: block; }
.content table th {
	min-width: 150px;
}

tfoot .justìy-center button {
	margin-right: 20px;
	margin-top: 20px;
	padding: 10px 20px;
}

td {
	min-width: 150px;
}
.border-red {
	border: 1px solid red;
	color: red;
}
.btn {
	padding: 5px 15px;
    margin-right: 20px;
}

#main-table tr td {
	text-align: center;
	border: 1px solid #494546 ;
}
#main-table  tfoot tr td {
	border: none;
}